

html {
	box-sizing: border-box;
	font-size: 10px
}
body {
	/* Background pattern from Subtle Patterns */
	font-family: 'Patua One', cursive;
color: aqua;
	margin: 0;
	text-align: center;
	background-color:#000
}
/* border box fix */
*,
*::before,
*::after {
	box-sizing: inherit;
}


.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0.5em auto ;
	

}
.container{
	-webkit-box-shadow:0px 0px 27px 17px rgba(242,19,183,0.96);
-moz-box-shadow: 0px 0px 27px 17px rgba(242,19,183,0.96);
box-shadow: 0px 0px 27px 17px rgba(242,19,183,0.96);
}

ul > li {
	list-style: none;
}

.card,
.reset-btn {
	cursor: pointer;
}


.card:hover{
  background-image: linear-gradient(to right, #848383 0%, #aca9ac  51%, #b0a5a2  100%);
  background-position: right center; /* change the direction of the change here */
  color: rgb(84, 79, 79);
  text-decoration: none;
}

        
.try-again {
		background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);
		margin: 10px auto;
		padding: 15px 45px;
		text-align: center;
		text-transform: uppercase;
		transition: 0.5s;
		background-size: 200% auto;
		color: white;            
		box-shadow: 0 0 20px #eee;
		border-radius: 10px;
		display: block;
	  }

	  .try-again:hover {
		background-position: right center; /* change the direction of the change here */
		color: #fff;
		text-decoration: none;
	  }
	 


.btn{
	-webkit-box-shadow:0px 0px 19px 4px rgba(118,201,204,1);
-moz-box-shadow: 0px 0px 19px 4px rgba(118,201,204,1);
box-shadow: 0px 0px 19px 4px rgba(118,201,204,1);
}


h1 {
	font-size:5em;
	padding: 10px;
	margin:20px auto;
	color: rgb(223, 12, 12);

    text-shadow: 0px 0px 0 rgb(250,249,245),
                 0px 1px 0 rgb(245,244,240),
                 0px 2px 0 rgb(240,239,235),
                 0px 3px 0 rgb(235,234,230),
                 0px 4px 0 rgb(230,229,225),
                 0px 5px 0 rgb(225,224,220),
                 0px 6px 0 rgb(220,219,215),
                 0px 7px 0 rgb(215,214,210),
                 0px 8px 0 rgb(210,209,205),
                 0px 9px 0 rgb(205,204,200),
                 0px 10px  0 rgb(200,199,195),
                 0px 11px 10px rgba(0,0,0,0.6),
                 0px 11px 1px rgba(0,0,0,0.5),
                 0px 0px 10px rgba(0,0,0,.2);
}

p {color: white;
	font-size: 2em;
	padding: 20px
}

h3 {
	font-size:4em;
	padding: 10px;
	color: rgb(86, 197, 176)
}

h5 {
	font-size:3em;
	margin: 0px 80px;
	color: white;
	padding:5px;
}

         
.start-button{
	background-image: linear-gradient(to right, #B24592 0%, #F15F79  51%, #B24592  100%);
	margin: 10px auto;
	padding: 15px 45px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;            
	box-shadow: 0 0 20px #eee;
	border-radius: 10px;
	display: block;
  }

  .start-button:hover {
	background-position: right center; /* change the direction of the change here */
	color: #fff;
	text-decoration: none;
  }
 
.sectionOne{
	border-radius: 15px;
background: linear-gradient(225deg, #a513cc, #8b10ac);
box-shadow:  -4px 4px 15px #85e9d6,
             4px -4px 15px #70c4c0;
			 width:70%;
			 height:95%;
			 margin:5px auto;
}
#welcome-page{
	border-radius: 10px;
background: linear-gradient(315deg, #404141, #4c4d4d);
box-shadow:  -5px -5px 13px #979999,
             5px 5px 13px #d7f1f1;
			 height: 85%;
			 width:80%;
			 margin: 10px auto;
}
.score-panel {
	font-size: 1em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
	align-content: center;
		
}

.star-rating > li {
	display: inline-block;
	padding: 0.5em;
}

.moves-counter {
	padding: 0.5em;
}

.reset-btn {
	         
		background-image: linear-gradient(to right, #fc00ff 0%, #00dbde  51%, #fc00ff  100%);
		margin: 10px auto;
		padding: 15px 45px;
		text-align: center;
		text-transform: uppercase;
		transition: 0.5s;
		background-size: 200% auto;
		color: white;            
		box-shadow: 0 0 20px #eee;
		border-radius: 10px;
		display: block;
	 }

	  .reset-btn:hover {
		background-position: right center; /* change the direction of the change here */
		color: #fff;
		text-decoration: none;
	  }
	 


.timer-container {
	background: #fff;
	border-radius: 0.5em;
	color: #000;
	margin: 0.5em;
	padding: 0.5em;
}

.timer {
	font-size: 1em;
}


------------------------------------*/


/* Modal (background) */
.modal {
	/*Hidden by default */
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	/* Fallback color */
	background-color: rgb(46, 61, 73);
	/* With opacity */
	background-color: rgba(197, 36, 140, 0.6);
}

/* Modal Content/Box */


/* The Close Button */


.close:hover,
.close:focus {
	color: rgb(223, 230, 233);
	text-decoration: none;
	cursor: pointer;
}

/* Modal Image*/
.modal-img {
	display: inline-block;
	margin: 1em auto;
	width: 2em;
}



p.stats:last-child {
	margin-bottom: 1em;
}

.play-again-btn {
	background: #28e;
	margin-bottom: 1em;
}

/*----------------------------------  
Deck of Cards
------------------------------------*/
/*Mobile first responsivness*/
.slot {
	background: linear-gradient(15deg, rgb(233, 13, 218), rgb(21, 207, 241) 95%),rgb(237, 227, 251);
	border-radius: 0.5em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: 20px auto;
	padding: 0.5em;
	width: 50%;
	-webkit-box-shadow:0px 0px 231px 14px rgba(252,252,252,1);
-moz-box-shadow: 0px 0px 231px 14px rgba(252,252,252,1);
box-shadow: 0px 0px 231px 14px rgba(252,252,252,1);
}

.slot,
.card {
	box-shadow: 5px 2px 20px 0 rgba(78, 44, 76, 0.5);
}

.card {
	background:#544f54;;
	border-radius: 0.5em;
	height: 3em;
	width: 3em;
  border-radius: 28px;
  background: #544f54;
  box-shadow:  7px -7px 14px #322f32,
               -7px 7px 14px #766f76;
}

/*
To disable the color highlight if and img is clicked
https://stackoverflow.com/questions/21107439/disable-or-change-firefoxs-element-image-highlight-color
*/
img {
	user-select: none;
	width: 2em;
	-ms-ime-mode: active;
}

.slot img {
	visibility: hidden;
	border-radius: 50%;
}

.slot .card.flip {
	background: #fff;
	cursor: default;
	transform: rotateY(180deg);
	transition: transform 0.3s linear;
	pointer-events: none;
}

.flip img {
	background: #fff;
	visibility: visible;
}

.slot.card.match {
	background: rgb(51, 221, 153);
	visibility: visible;
	cursor: default;
	animation: pulse 1s;
}

.match img {
	background: #39d;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	80% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}


.footer {
	color: #666;
	margin-bottom: 2em;
}

.footer > p {
	font-size: 1em;
	padding: 1em;
}

.footer a:link,
.footer a:visited {
	color: #28e;
	text-decoration: none;
}


@media screen and (min-width: 450px) {

	.slot  {
		height: 50em;
		padding: 2em;
		width: 50em;
	}

	.card {
		height: 10em;
		width: 10em;
	}

	.slotimg {
		width: 20em;
	}

	.modal-content h2 {
		font-size: 4em;
	}

	.play-again-btn {
		font-size: 1.8em;
    
	}
	.img{
		width: 4em;
	}
}

/*---------------------------------- 
Desktops
------------------------------------*/
@media screen and (min-width: 800px) {
	
	h1 {
		font-size: 10em;
	}

	p {
		font-size: 2.3em;
	}

	.slot  {
		height: 70em;
		width: 70em;
	}

	.card {
		height: 15em;
		width: 15em;
	}

	.slot img {
		width: 13em;
	}

	

	.footer {
		font-size: 1.2em;
	}
	
	.modal-content h2 {
		font-size: 5em;
	}

	/* Modal Image*/
	.modal-img {
		width: 30em;
	}

	.play-again-btn {
		font-size: 2em;
	}
}